@import url('https://fonts.googleapis.com/css?family=Mukta');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Oswald:400, 500, 600, 700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

:root {
    --hueygreen:		#27ae60;
    --lighthueygreen:	#2ABB67;
    --almostwhite:		#F6F6F6;
    --ivory:			#f1f2f6;
	--almostblack: 		#2f3640;
	--flatblue:			#0097e6;
	--flatred:			#e84118;
	--darkflatred:		#CE3A15;
	--flatyellow:		#fbc531;
	--blacktext:		#22292f;
	--darkgrey:			#4b4b4b;
}

/*--------REMEMBER-------------------------------

em = default font size of current window
vh = height of window
vw = width of window
% = size of parent

------------------------------------------------*/


/*CHANGE ME*/
.event-container {
	display: flex;
}

.row-left {
	float: left;
	width: 50%;
	margin: 0 auto;
}

.row-right {
	float: right;
	width: 50%;
}



h1 {
	color: var(--blacktext);
	font-family: Source Sans Pro;
}

.h1Menu {
	color: #2f3542;
	font-family: Source Sans Pro;
	font-weight: bold;
	margin-left: -4em;
	font-size: 1.5em;

}

.hueyGreenBackground {
	background-color: var(--hueygreen);
	width: 20em;
	border-right: 1px;
}

.almostWhiteBackground {
	background-color: var(--ivory);
	width: 17.5vw;
	border-width: 0px;
	border-right: 1px;
	border-style: solid;
	border-color: lightgrey;
	height: 100vh;
	text-align: center;
	position: relative;
	align-content: center;
	align-items: center;
	margin: auto;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
}

.sceneBackground {
	display: flex;
	height: 100%;
	width: 100%;
	margin-left: 17.5vw;
	justify-content: flex-start;
	background-color: var(--almostwhite);
}

.mainContainer {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: flex-start;
	background-color: var(--almostwhite);
}

.logoImage {
	height: 15em;
	margin-top: 1em;
	margin-left: -1em;
	margin-bottom: 3vh;
}

.menuButton {
	display: inline-block;
	border: none;
	color: var(--blacktext);
	padding: 10px 0px;
	text-align: center;
	font-size: 16px;
	font-family: Lato;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	width: 100%;
	margin-top: 0em;
	border: 0;
	box-shadow: none;
	border-radius: 0px;
	background-color: var(--ivory);
	border-width: 0;
}

.menuButtonDisabled {
	display: inline-block;
	border: none;
	color: grey;
	padding: 10px 0px;
	text-align: center;
	font-size: 16px;
	font-family: Lato;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	width: 100%;
	margin-top: 0em;
	border: 0;
	box-shadow: none;
	border-radius: 0px;
	background-color: lightgrey; 
	border-width: 0;
}

.menuButton:hover {
	color: white;
	background-color: var(--hueygreen);

}

.menuButtonLogin {
	display: inline-block;
	color: white;
	padding: 10px 0px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	border: 0;
	box-shadow: none;
	border-radius: 0px;
	background-color: var(--hueygreen);
	border-width: 0;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.menuButtonLogin:hover {
	background-color: var(--lighthueygreen);
}

.loginButtonDiv {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.loginTextFields {
	width: 100%;
	border: none;
	padding: 10px 0px;
	text-align: center;
	font-family: Source Sans Pro;
}


.logoutTextFields {
	width: 0px;
	border: none;
}

.loginDiv {
	margin-top: 10vh;
}

.menuButtonLogout{
	display: inline-block;
	color: white;
	padding: 10px 0px;
	text-align: center;
	font-size: 14px;
	font-family: Lato;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	border: 0;
	box-shadow: none;
	border-radius: 0px;
	background-color: var(--flatred);
	border-width: 0;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1vh;
	user-select: none;
}

.menuButtonLogout:hover {
	background-color: var(--darkflatred);
}

.emailText{
	font-family: Source Sans Pro;
	font-size: 0.8em;
	padding: 10px 10px;
	user-select: none;
}

.emailAddressText{
	font-family: Source Sans Pro;
	font-weight: 700;
	user-select: none;
}


