@import url('https://fonts.googleapis.com/css?family=Mukta');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Oswald:400, 500, 600, 700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800');

:root {
    --hueygreen:		#27ae60;
    --lighthueygreen:	#2ABB67;
    --almostwhite:		#F6F6F6;
    --ivory:			#f1f2f6;
    --darkivory:		#f6f6fa;
	--almostblack: 		#2f3640;
	--flatblue:			#0097e6;
	--flatred:			#e84118;
	--darkflatred:		#CE3A15;
	--flatyellow:		#fbc531;
	--blacktext:		#22292f;
	--darkgrey:			#4b4b4b;
}

/*--------ReMEMEber-----------------------------

em = default font size of current window
vh = height of window
vw = width of window
% = size of parent

------------------------------------------------*/

.row-left {
	float: left;
	width: 50%;
	margin: 0 auto;
}

.row-right {
	float: right;
	width: 50%;
}



h1 {
	color: var(--blacktext);
	font-family: Source Sans Pro;
}

.h1Menu {
	color: #2f3542;
	font-family: Source Sans Pro;
	font-weight: bold;
	margin-left: -4em;
	font-size: 1.5em;

}

.loading-div{
	height: 100vh;
	width: 100%;
	align-items: stretch;
	text-align: center;
	background-color: #fff;
}

.loading-div-inner{
	width: 10%;
	margin-left:45%;
	margin-right: 45%;
	align-self: stretch;
	background-color: #fff;
}

.spacerTop{
	height:70vh;
}

.spacerBottom{
	height: 7.5vh;
}

.admin-login-text{
	font-family: Roboto;
	margin-top: 10vh;
	font-size: 1.5em;
	color: var(--darkgrey);
	font-weight: 300;
}


.hueyGreenBackground {
	background-color: var(--hueygreen);
	width: 20em;
	border-right: 1px;
}

.almostWhiteBackground {
	background-color: var(--ivory);
	width: 275px;
	border-width: 0px;
	border-right: 1px;
	border-style: solid;
	border-color: lightgrey;
	height: 100vh;
	text-align: center;
	position: relative;
	align-content: center;
	align-items: center;
	margin: auto;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	min-width: 275px;
	max-width: 275px;

}

.sceneBackground {
	display: flex;
	height: 100%;
	min-height: 100vh;
	width: 100%;
	margin-left: 275px;
	background: var(--ivory); 
	background: -webkit-linear-gradient(to bottom, var(--almostwhite), var(--ivory)); 
	background: linear-gradient(to bottom, var(--almostwhite), var(--ivory));
}

.scene-header {
	position: fixed;
	top: 0;
	left: 0;
	margin-left: 275px;
	width: 100%;
	height: 200px;
	background-color: #fff;
	border-width: 0px;
	border-bottom: 1px;
	border-style: solid;
	border-color: lightgrey;
	overflow: hidden;
}

.scene-header-text {
	font-family: Oswald;
	font-weight: 700;
	color: var(--blacktext);
	margin-left: 4vw;
	margin-top: 5vh;
}

.header-buttons-div {
	width: 100%;
	align-content: row;
	flex-direction: row;
	margin-top: 25px;
}


.header-buttons {
	display: inline-block;
	border: none;
	color: var(--almostwhite);
	padding: 10px 0px;
	text-align: center;
	font-size: 14px;
	font-family: Lato;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	width: 100px;
	margin-top: 0em;
	border: 0;
	box-shadow: none;
	border-radius: 0px;
	background-color: var(--hueygreen);
	border-width: 0;
	margin-left: 4vw;
	border-radius: 999px;
}

.header-buttons:hover {
	color: white;
	background-color: var(--lighthueygreen);
}

.header-buttons-disabled {
	display: inline-block;
	border: none;
	color: grey;
	padding: 10px 0px;
	text-align: center;
	font-size: 16px;
	font-family: Lato;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	width: 10%;
	margin-top: 0em;
	border: 0;
	box-shadow: none;
	border-radius: 0px;
	background-color: lightgrey; 
	border-width: 0;
	border-radius: 999px;
}

.mainContainer {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: flex-start;
	background-color: var(--darkivory);
}

.logoImage {
	height: 22.5vh;
	margin-top: 5vh;
	margin-bottom: 5vh;
	margin-left: auto;
	margin-right: auto;
}

.menuButton {
	display: inline-block;
	border: none;
	color: var(--blacktext);
	padding: 10px 0px;
	text-align: center;
	font-size: 16px;
	font-family: Lato;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	width: 100%;
	margin-top: 0em;
	border: 0;
	box-shadow: none;
	border-radius: 0px;
	background-color: var(--ivory);
	border-width: 0;
}

.menuButton:hover {
	color: white;
	background-color: var(--hueygreen);

}

.menuButtonDisabled {
	display: inline-block;
	border: none;
	color: grey;
	padding: 10px 0px;
	text-align: center;
	font-size: 16px;
	font-family: Lato;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	width: 100%;
	margin-top: 0em;
	border: 0;
	box-shadow: none;
	border-radius: 0px;
	background-color: lightgrey; 
	border-width: 0;
}

.menuButtonLogin {
	display: inline-block;
	color: white;
	padding: 10px 0px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	border: 0;
	box-shadow: none;
	border-radius: 0px;
	background-color: var(--hueygreen);
	border-width: 0;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.menuButtonLogin:hover {
	background-color: var(--lighthueygreen);
}

.loginButtonDiv {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.loginTextFields {
	width: 100%;
	border: none;
	padding: 10px 0px;
	text-align: center;
	font-family: Source Sans Pro;
}


.loginDiv {
	margin-top: 10vh;
}

.menuButtonLogout{
	display: inline-block;
	color: white;
	padding: 10px 0px;
	text-align: center;
	font-size: 14px;
	font-family: Lato;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	border: 0;
	box-shadow: none;
	border-radius: 0px;
	background-color: var(--flatred);
	border-width: 0;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1vh;
	user-select: none;
}

.menuButtonLogout:hover {
	background-color: var(--darkflatred);
}

.emailText{
	font-family: Source Sans Pro;
	font-size: 0.8em;
	padding: 10px 10px;
	user-select: none;
}

.emailAddressText{
	font-family: Source Sans Pro;
	font-weight: 700;
	user-select: none;
}

.qr-code{
	height: 100%;
	background-color: transparent;
	border-radius: 25%;
	margin-left: auto;
	margin-right: auto;
}

.qr-div {
	height: 22.5vw;
	background-color: transparent;
	overflow: hidden;
	border-width: 0px;
	border-bottom: 1px;
	border-style: solid;
	border-color: lightgrey;
	text-align: center;
	float: right;
}

.event-container {
	display: flex;
	background-color: transparent;
	width: 100%;
	-webkit-column-break-inside: avoid; 
  	page-break-inside: avoid; 
  	break-inside: avoid;
}

.event-list-container {
	margin-top: 225px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(22.5vw, 1fr) ) ;
	grid-gap: 2.25vw;
	overflow: hidden;
	background-color: transparent;
	padding: 15px	;
}

.events-big-div {
	width: 100%;
	height: 100%;
	padding-left: 2.5vw;
	padding-right: 2.5vw;
	background-color: transparent;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}

.single-event {
	background-color: var(--almostwhite);
	color: black;
	width: 22.5vw;
	height: 50vh;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  	transition: 1s;
  	border-radius: 15px;
  	overflow: hidden;
}

.single-event-active {
	background-color: var(--almostwhite);
	color: black;
	width: 100%;
	height: 50vh;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  	transition: 1s;
  	border-radius: 15px;
  	overflow: hidden;
  	grid-column: auto / span 3;
}

.card-topbar {
	background-color: var(--hueygreen);
	width: 100%;
	overflow: hidden;
	height: 12.5%;
}

.card-title {
	color: var(--almostwhite);
	margin-left:22.5px;
	margin-top: 12.5px;
	font-family: Roboto;
	font-weight: bold;
	font-size: 15pt;
	text-transform: uppercase;
}

.event-text-container {
	align-self: right;
	color: var(--darkgrey);
	float: left;
	margin-left: 25px;
	margin-top: 10px;
	z-index: 1;
	font-size: 100%;
	font-family: Roboto;
}


